#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
  min-height: 700px;
  position: relative;

  aside {
    flex: 7;

    background: #835AFD;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: #F8F8F8;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input{
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #FFF;
        border: 1px solid #A8A8B3;
      }

      button{
        margin-top: 16px;
      }

      button, input{
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color-interpolation-filters: #737380;
      margin-top: 16px;

      a {
        color: #E559F9;
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #EA4335;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img{
      margin-right: 8px;
    }

    &:hover{
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: #A8A8B3;
    
    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: #A8A8B3;
      margin-right: 16px;
    }

    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: #A8A8B3;
      margin-left: 16px;
    }
  }

  .sign-out {
    position: absolute;
    top: 25px;
    right: 25px;

    padding: 10px;
    background-color: #835AFD;
    border-radius: 8px;
    cursor: pointer;

    i {
      color: #FFF;
    }
  }
}

@media(max-width: 980px) {
  #page-auth {
    aside {
      display: none;
    }

    .main-content {
      margin-bottom: 150px;
    }
  }
}