#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
  min-height: 70rem;
  position: relative;

  aside {
    flex: 7;

    background: #835AFD;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 12rem 8rem;

    img {
      max-width: 32rem;
    }

    strong {
      font: 700 3.6rem 'Poppins', sans-serif;
      line-height: 4.2rem;
      margin-top: 1.6rem;
    }

    p {
      font-size: 2.4rem;
      line-height: 3.2rem;
      margin-top: 1.6rem;
      color: #F8F8F8;
    }
  }

  main {
    flex: 8;

    padding: 0 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 32rem;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 2.4rem;
      margin: 6.4rem 0 2.4rem;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input{
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #FFF;
        border: 1px solid #A8A8B3;
      }

      button{
        margin-top: 16px;
      }

      button, input{
        width: 100%;
      }
    }

    p {
      font-size: 1.4rem;
      color-interpolation-filters: #737380;
      margin-top: 1.6rem;

      a {
        color: #E559F9;
      }
    }
  }

  .create-room {
    margin-top: 6.4rem;
    height: 5rem;
    border-radius: 0.8rem;
    font-weight: 500;
    background: #EA4335;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img{
      margin-right: 0.8rem;
    }

    &:hover{
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 1.4rem;
    color: #A8A8B3;
    
    margin: 3.2rem 0;
    display: flex;
    align-items: center;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: #A8A8B3;
      margin-right: 1.6rem;
    }

    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: #A8A8B3;
      margin-left: 1.6rem;
    }
  }

  .sign-out {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    padding: 1rem;
    background-color: #835AFD;
    border-radius: 0.8rem;
    cursor: pointer;

    i {
      color: #FFF;
    }
  }
}

@media(max-width: 980px) {
  #page-auth {
    aside {
      display: none;
    }

    .main-content {
      margin-bottom: 15rem;
    }
  }
}