.button {
  height: 5rem;
  border-radius: 0.8rem;
  font-weight: 500;
  background: #835AFD;
  color: #FFF;
  padding: 0 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 0.8rem;
  }

  &.outlined {
    background: #FFF;
    border: 1px solid #835AFD;
    color: #835AFD;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}