.room-code {
  height: 4rem;
  border-radius: 0.8rem;
  overflow: hidden;

  background: #FFF;
  border: 1px solid #835AFD;
  cursor: pointer;

  display: flex;

  div {
    height: 100%;
    background: #835AFD;
    padding: 0 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1.6rem 0 1.2rem;
    width: 23rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@media(max-width: 720px) {
  .room-code span {
    display: none;
  }
}