#page-room {
  header {
    padding: 2.4rem;
    border-bottom: 1px solid #E2E2E2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 6rem;
        cursor: pointer;

        @media(max-width: 480px) {
          max-height: 4.5rem;
        }
      }

      > div {
        display: flex;
        gap: 1.6rem;

        button {
          height: 4rem;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 3%;

    .room-title {
      margin: 3.2rem 0 2.4rem;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 2.8rem;
        color: #29292E;

        @media (max-width: 500px) {
          font-size: 2.3rem;
        }
      }

      span {
        margin-left: 1.6rem;
        background: #E559F9;
        border-radius: 999px;
        padding: 0.8rem 1.6rem;
        color: #FFF;
        font-weight: 500;
        font-size: 1.4rem;
        white-space: nowrap;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1.6rem;
        border-radius: 0.8rem;
        background: #FEFEFE;
        box-sizing: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 13rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 50%;
          }

          span {
            margin-left: 0.8rem;
            color: #29292E;
            font-weight: 500;
            font-size: 1.4rem;
          }
        }

        > span {
          font-size: 1.4rem;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835AFD;
            text-decoration: underline;
            font-size: 1.4rem;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 3.2rem;
    }
  }
}